
<!-- Header -->

<header>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a> |
    <a routerLink="/about" routerLinkActive="active">About</a> |
    <a routerLink="/projects" routerLinkActive="active">Projects</a> |
    <a routerLink="/resume" routerLinkActive="active">Resume</a>
  </nav>
</header>

<!-- Content -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->

<div id = "particles-container">
  <ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
<footer>
  <p>© 2023 Conley DeLeon</p>
</footer>
</div>