<style>
  section {
    margin-bottom: 10px;

    .resume{
      padding: 10px;
      margin-bottom: px;
    }
  }
</style>
<!-- Header -->
<div class = "container" id="partcles-js">
<header>
  <h1>{{ title }}</h1>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a> |
    <a routerLink="/projects" routerLinkActive="active">Projects</a> |
    <a routerLink="/resume" routerLinkActive="active">Resume</a>
  </nav>
</header>

<!-- Home Section -->
<section id="home">
  <app-home></app-home>
</section>
</div>

<!-- Projects Section -->
<section id="projects">
  <app-projects></app-projects>
</section>

<!-- Resume Section -->
<div class = "resume">
<section id="resume">
  <app-resume></app-resume>
</section>
</div>
<!-- Footer -->

<div id = "particles-container">
<footer>
  <p>© 2023 Conley DeLeon</p>
</footer>
</div>