/* Add any specific styles for your home component here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.home {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    
  }
  